{% extends 'default/index.html.twig' %}

{% block breadcrumb %}

  <li class="breadcrumb-item">
    <a href="./">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Product categories
  </li>

{% endblock %}

{% block main %}
<h1 class="title-section">Kategorie</h1>

<div class="row product">
  {% for i in 0..7%}
  {#{% for article in articles %}#}
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card category-card">
        <a href="./products">
          <div class="card-img">
            <img class="card-img-top" src="{{ random(images) }}{#{{article.img}}#}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h6 class="card-title text-muted">Beispielskategorie</h6>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
