{# Define arrays #}
{%
  set categories = {
    0: {id: "lackierhandwerk", name: "Lackierhandwerk"},
    1: {id: "tischlerhandwerk", name: "Tischlerhandwerk"},
    2: {id: "malerhandwerk", name: "Malerhandwerk"},
    3: {id: "verlegehandwerk", name: "Verlegehandwerk"}
  }
%}

{%
  set articles = {
    0: {number: "74007876", name: "Erfurt On Wall - Kreativ gestalten", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210201_01_11.jpg", price: "32.32"},
    1: {number: "65415001", name: "Befüllbare Spraydose Fill Clean - Wasserlack", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210213_01_11.jpg", price: "299.00"},
    2: {number: "78603601", name: "DesignConceptCompact 2019", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210441_01_12.jpg", price: "79.00"},
    3: {number: "78605817", name: "WS-400 evo mit Vorzerstäuber Technologie", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210561_01_27.jpg", price: "27.50"},
    4: {number: "65449011", name: "EventFloor 2017", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253260801_01.jpg", price: "35.50"},
    5: {number: "65442011", name: "Landhausdiele Rustic 2019", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253261271_01.jpg", price: "50.00"},
    6: {number: "2923034565-001	", name: "Floor-Direkt", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253261301_01.jpg", price: "12.99"},
    7: {number: "78603748", name: "3M Jupiter Gebläse-Atemschutzsystem", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253261242_01_7.jpg", price: "75.00"},
    8: {number: "2923034590-001", name: "3M Versaflo Kopfteile - Kopfteile der M-Serie", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/3/1/314321662_01..jpg", price: "21.00"},
    9: {number: "78603600", name: "Abziehhaut T", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/3/1/314321670_01.jpg", price: "9.99"},
    10: {number: "75001004", name: "Klebelack", img: "https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/7/273630641_01_14.jpg", price: "15.99"}
  }
%}

{%
  set images = [
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210201_01_11.jpg',
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210213_01_11.jpg',
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210441_01_12.jpg',
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210561_01_27.jpg',
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253260801_01.jpg',
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253261271_01.jpg',
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253261301_01.jpg',
    'https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253261242_01_7.jpg'
  ]
%}

{% extends 'common/base.html.twig' %}

{% block body %}

  <header class="">

    <nav class="header_navbar navbar bg-white">
      <div class="container">
        <a href="./" class="navbar-brand">wulff</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link showLogin showLogin-navbar" href="javascript:void(0);">
              <i class="dripicons-web icon"></i>
              <span class="text">Anmelden</span>
            </a>
          </li>
          <li class="nav-item showAccount">
            <a class="nav-link showAccount-navbar" href="javascript:void(0);">
              <i class="dripicons-user icon"></i>
              <span class="text">My Account</span>
            </a>
            <div class="preview-account">
              <div class="arrow"></div>
              <div class="wrapper-shadow">
                <ul>
                  <li>
                    <a>
                      <i class="dripicons icon"></i>
                      <span class="text"><strong>Luigi</strong></span>
                      <span class="text-usermail d-block">luigimj@gmail.com</span>
                    </a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li>
                    <a href="./profile">
                      <i class="dripicons-toggles icon"></i>
                      <span class="text">My Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="./orders">
                      <i class="dripicons-document icon"></i>
                      <span class="text">My Orders</span>
                    </a>
                  </li>
                  <li>
                    <a href="./wish-list">
                      <i class="dripicons-heart icon"></i>
                      <span class="text">Wish List</span>
                    </a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="dripicons icon"></i>
                      <span class="text">Sign Out</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item shopping-cart">
            <a class="nav-link showShoppingCart-navbar" href="./shopping-cart">
              <span class="product-counter">5
                <i class="dripicons-shopping-bag icon"></i>
              </span>
              <span class="text">Warenkorb</span>
            </a>

            <div class="preview-cart">
              <div class="arrow"></div>
              <div class="wrapper-shadow">
                <ul>
                  {% for article in articles %}
                  <li>
                    <a href="./product-details">
                      <span class="image">
                        <img src="{{article.img}}">
                      </span>
                      <div class="preview-label">
                        <span class="preview-label-text title">
                          <strong>{{article.name}}</strong>
                        </span>
                        <span class="preview-label-text">CRIMPKBLSHH-RG-46237-CU-(J2N)-M6-2,5QMM</span>
                        <span class="preview-label-amount">Menge:
                          <span class="previewLabelAmountLeft">1</span>x
                          <span class="previewLabelAmountRight">100</span>
                        </span>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                <div class="preview-articles">
                  <div class="isEmptyText mb3" style="display:none">
                    Es befinden sich keine Artikel im Warenkorb. Suchen Sie nach Artikelname/-nummer
                    oder navigieren Sie über die Produktbereiche zu den gewünschten Axrtikeln,
                    um diese zum Warenkorb hinzuzufügen.
                  </div>
                  <div class="more-articles">
                    <span>+4 weitere Artikel</span>
                  </div>
                  <div class="preview-btn">
                    <a class="btn btn-secondary btn-sm" href="./shopping-cart" role="button">Warenkorb Ansehen</a>
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </nav>

    <div class="header_login">
      <div class="container">
        <div class="row">

          <div class="col col-login">
            <form id="loginForm" action="#" method="post" novalidate>
              <h2 class="header_login-title">Anmeldung für Kunden</h2>
              <div class="row">

                <div class="col-md-6 mb-1">
                  <label for="email">E-Mail</label>
                  <input type="email" class="form-control form-control-sm" id="email" name="email" required>
                </div>
                <div class="col-md-6 mb-1">
                  <label for="password">Passwort</label>
                  <div class="inner-addon right-addon sm">
                    <input type="password" class="form-control form-control-sm" id="password" name="password" required>
                    <i class="dripicons-eye icon showPassword" data-toggle="#password"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="login-options mb-3">
                    <a href="javascript:void(0)" class="forget-option">Passwort vergessen?</a>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-sm">Anmelden</button>
              </div>
            </form>
          </div>

          <div class="col col-register">
            <h2 class="header_login-title">Sie möchten sich im Online-Shop registrieren?</h2>
            <div class="row">
              <div class="col">
                <div class="register-text">
                  <span class="dripicons-information icon"></span> In nur drei Schritten können Sie sich registrieren und alle Funktionen
                  des Online-Shops nutzen.
                </div>
              </div>
            </div>
            <div class="form-group">
              <a class="btn btn-secondary btn-sm" href="./register-customer" role="button">Jetzt Registrieren</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="header_search">
      <div class="container">
        <form action="#" id="searchForm">
          <!--<div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Alle
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Kategorie One</a>
                    <a class="dropdown-item" href="#">Kategorie Two</a>
                    <a class="dropdown-item" href="#">Kategorie Three</a>
                  </div>
                </div>-->
          <div class="search-input inner-addon right-addon">
            <input class="" id="searchInput" type="text" placeholder="Ihr Suchbegriff">
              <i class="dripicons-search icon rotate-x"></i>
            <ul class="results">
              {% for article in articles %}
              <li class="result-item">
                <a href="./product-details">
                  <span class="image">
                    <img src="{{article.img}}">
                  </span>
                  <div class="preview-label">
                    <span class="preview-label-text">
                      <strong>{{article.name}}</strong>
                    </span>
                    <span class="preview-label-text">CRIMPKBLSHH-RG-46237-CU-(J2N)-M6-2,5QMM</span>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </form>
      </div>
    </div>

  </header>

  <div class="container">

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        {% block breadcrumb %}

        <li class="breadcrumb-item active" aria-current="page">
          <a href="./">Home</a>
        </li>

        {% endblock %}
      </ol>
    </nav>

    <div class="row">

      <aside class="{% block asideClass %}col-sm-4 col-md-4 col-lg-3{% endblock %}">
        {% block aside %}

        <ul class="nav flex-column categories-nav">
          <li class="nav-item">
            <a class="active tittle-tag" href="javascript:void(0)">
              <span class="item-icon"></span>
              Produktkategorien
            </a>
          </li>
          {% for category in categories %}

          <li class="nav-item">
            <a href="./categories">
              <span class="item-icon">
                <i class="dripicons-stack icon"></i>
              </span>
              <span class="text">{{category.name}}</span>
              <span class="float-right indicator">
                <i class="dripicons-chevron-right icon"></i>
              </span>
            </a>
          </li>

          {% endfor %}
        </ul>

        <div class="vertical-banner">
          <img class="d-block w-100" src="./src/img/banner-style-5.jpg" alt="Banner">
        </div>

        {% endblock %}
      </aside>

      <main class="{% block mainClass %}col-sm-8 col-md-8 col-lg-9{% endblock %}">
        {% block main %}

          <div id="carouselOfOffers" class="carousel slide carousel-offers" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselOfOffers" data-slide-to="0" class="active"></li>
              <li data-target="#carouselOfOffers" data-slide-to="1"></li>
              <li data-target="#carouselOfOffers" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://www.selcobw.com/media/carousel/item/s/e/sel4341_black_fri_web_assets_back_in_stock.png"
                  alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://www.selcobw.com/media/carousel/item/s/e/sel4370_dec_paint.png"
                  alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://www.selcobw.com/media/carousel/item/s/e/sel4370_dec_hire.png"
                  alt="Third slide">
              </div>
            </div>
          </div>

          <h1 class="title-section">Top Angebote im {{"now" | date("F")}}</h1>

          <ul class="nav nav-tabs nav-fill top-products-nav" role="tablist">
            <!-- List first item -->
            {% for category in categories|slice(0,1) %}
            <li class="nav-item">
              <a class="nav-link active" href="#{{category.id|e}}" data-toggle="tab" role="tab"
                aria-controls="{{category.id|e}}" aria-selected="true">{{category.name|e}}</a>
            </li>
            {% endfor %}
            {% for category in categories|slice(1,3) %}
            <li class="nav-item">
              <a class="nav-link" href="#{{category.id|e}}" data-toggle="tab" role="tab" aria-controls="{{category.id|e}}"
                aria-selected="false">{{category.name|e}}</a>
            </li>
            {% endfor %}
          </ul>

          <div class="tab-content top-products-content">
            {% set j = 0 %}
            {% for category in categories %}
              {% set active = (j == 0) ? 'active' : '' %}
              <div class="tab-pane {{active}}" id="{{category.id}}" role="tabpanel" aria-labelledby="{{category.id}}-tab">
                <div class="row">
                  {% for i in 0..3%}
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <div class="card top-product-card">
                        <div class="addWishList">
                          <span class="dripicons-heart icon"></span>
                        </div>
                        <a href="./product-details">
                          <div class="card-img">
                            <img class="card-img-top" src="{{ random(images) }}" alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h6 class="card-title text-muted">Beispielsprodukt</h6>
                            <!--<div class="card-text">pro Stück</div>-->
                            <div class="card-price">19.98 €</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              {% set j = j + 1 %}
            {% endfor %}
          </div>

        {% endblock %}
      </main>

      {#{% block asideRight %}{% endblock %}#}

    </div>

  </div>

  <div class="cookie-banner" style="display:none">
    <div class="container">
      <div class="text">
        Um Ihnen bestmöglichen Service zu gewährleisten, verwenden wir Cookies. Durch
        die Nutzung unserer Dienste stimmen Sie den Datenschutzbestimmungen zu.
        <span class="text-closer hideElement">Schließen</span>
      </div>
    </div>
  </div>

{% endblock %}
