{% extends 'default/index.html.twig' %}

{% block breadcrumb %}

  <li class="breadcrumb-item">
    <a href="./">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    My Orders
  </li>

{% endblock %}

{% block aside %}

<ul class="nav flex-column categories-nav">
  <li class="nav-item">
    <a class="active tittle-tag" href="javascript:void(0)">
      <span class="item-icon"></span>
      Account
    </a>
  </li>
  <li class="nav-item">
    <a href="./profile">
      <span class="item-icon">
        <i class="dripicons-toggles icon"></i>
      </span>
      <span class="text">My Profile</span>
      <span class="float-right indicator">
        <i class="dripicons-chevron-right icon"></i>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a href="./orders">
      <span class="item-icon">
        <i class="dripicons-document icon"></i>
      </span>
      <span class="text">My Orders</span>
      <span class="float-right indicator">
        <i class="dripicons-chevron-right icon"></i>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a href="./wish-list">
      <span class="item-icon">
        <i class="dripicons-heart icon"></i>
      </span>
      <span class="text">Wish List</span>
      <span class="float-right indicator">
        <i class="dripicons-chevron-right icon"></i>
      </span>
    </a>
  </li>
</ul>

{% endblock %}

{% block main %}
<h1 class="title-section">Orders</h1>
{% endblock %}
