{% extends 'default/index.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block asideClass %}{% endblock %}
{% block aside %}{% endblock %}

{% block mainClass %}col-sm-12 col-md-12 col-lg-12 col-xl-12{% endblock %}
{% block main %}

<h1 class="title-section">Payment</h1>

{% endblock %}
