{% extends 'default/index.html.twig' %}

{% block breadcrumb %}

  <li class="breadcrumb-item">
    <a href="./">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a href="./categories">Product categories</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Products
  </li>

{% endblock %}

{% block main %}
<h1 class="title-section">Results for Products</h1>

<div class="row product">
  {% for i in 0..15%}
  {#{% for article in articles %}#}
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card top-product-card">
        <span class="dripicons-heart icon addWishList"></span>
        <a href="./product-details">
          <div class="card-img">
            <img class="card-img-top" src="{{ random(images) }}{#{{article.img}}#}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h6 class="card-title text-muted">Beispielsprodukt</h6>
            <div class="card-price">19.98 €</div>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination paginator justify-content-center">
    <li class="page-item previous-page disabled">
      <a class="page-link" href="#" tabindex="-1">Previous Page</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">24</a></li>
    <li class="page-item next-page">
      <a class="page-link" href="#">Next Page</a>
    </li>
  </ul>
</nav>

{% endblock %}
