{% extends 'default/index.html.twig' %}

{% block breadcrumb %}

  <li class="breadcrumb-item">
    <a href="./">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a href="./categories">Product categories</a>
  </li>
  <li class="breadcrumb-item">
    <a href="./products">Products</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Product Details
  </li>

{% endblock %}

{% block main %}

    <div class="row mb-5">

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-center">
        <div class="" style="margin: 0 auto">
          <img class="img-fluid" src="https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253260801_01.jpg" alt="">
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <ul class="nav nav-tabs product-tab" id="product-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="details" data-toggle="tab" href="#details-tab" role="tab"
              aria-controls="details-tab" aria-selected="true">Produktdetails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="datasheet" data-toggle="tab" href="#datasheet-tab" role="tab"
              aria-controls="datasheet-tab" aria-selected="false">Datenblätter</a>
          </li>
        </ul>

        <div class="tab-content product-tab-content" id="product-tabContent">
          <div class="tab-pane fade show active" id="details-tab" role="tabpanel" aria-labelledby="details">
            <h1 class="title-section">Beispielprodukt</h1>
            <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur corrupti
              iure, nemo nisi unde veritatis sequi officia facilis delectus, eveniet fuga
              labore ex qui repellat! Accusantium fugit delectus perferendis voluptas!</p>
            <p class="product-description">
              Eigenschaften:
              <ul>
                <li>Wekstoff: Mischung aus Altpapier</li>
                <li>Härte</li>
              </ul>
            </p>
            <a class="btn btn-secondary btn-sm" href="./shopping-cart" role="button">In den Warenkorb</a>
          </div>
          <div class="tab-pane fade" id="datasheet-tab" role="tabpanel" aria-labelledby="datasheet">...</div>
        </div>

      </div>

    </div>

    <!--<div class="row">
      <h2 class="title-section">Dazu Empfehlen Wir</h2>
    </div>-->

    <h2 class="title-section">Dazu Empfehlen Wir</h2>

    <div class="row product">
      {% for i in 0..3%}
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card top-product-card">
          <a href="javascript:void(0)">
            <div class="card-img">
              <img class="card-img-top" src="{{ random(images) }}{#{{article.img}}#}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h6 class="card-title text-muted">Beispielsprodukt</h6>
              <div class="card-price">19.98 €</div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}
