{% extends 'default/index.html.twig' %}

{% block breadcrumb %}

  <li class="breadcrumb-item">
    <a href="./">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    My Profile
  </li>

{% endblock %}

{% block aside %}

<ul class="nav flex-column categories-nav">
  <li class="nav-item">
    <a class="active tittle-tag" href="javascript:void(0)">
      <span class="item-icon"></span>
      Account
    </a>
  </li>
  <li class="nav-item">
    <a href="./profile">
      <span class="item-icon">
        <i class="dripicons-toggles icon"></i>
      </span>
      <span class="text">My Profile</span>
      <span class="float-right indicator">
        <i class="dripicons-chevron-right icon"></i>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a href="./orders">
      <span class="item-icon">
        <i class="dripicons-document icon"></i>
      </span>
      <span class="text">My Orders</span>
      <span class="float-right indicator">
        <i class="dripicons-chevron-right icon"></i>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a href="./wish-list">
      <span class="item-icon">
        <i class="dripicons-heart icon"></i>
      </span>
      <span class="text">Wish List</span>
      <span class="float-right indicator">
        <i class="dripicons-chevron-right icon"></i>
      </span>
    </a>
  </li>
</ul>

{% endblock %}

{% block main %}

<form action="#">

<h2 class="title-section mb-2">Profile</h2>
<div class="card card-form-altern mb-4">
  <div class="card-body">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control form-control-sm" id="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control form-control-sm" id="lastName">
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control form-control-sm" id="address">
      </div>

  </div>
</div>

<h2 class="title-section mb-2">Account</h2>
<div class="card card-form-altern">
  <div class="card-body">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control form-control-sm" id="email">
      </div>
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control form-control-sm" id="password">
      </div>
    </div>

  </div>
</div>

<button type="submit" class="btn btn-primary mt-4">Save Changes</button>

</form>

{% endblock %}
