{% extends 'default/index.html.twig' %}

{% set subTotal = 0 %}
{% set totalItems = 0 %}

{% block breadcrumb %}

  <li class="breadcrumb-item">
    <a href="./">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Warenkorb
  </li>

{% endblock %}

{% block asideClass %}{% endblock %}
{% block aside %}{% endblock %}

{% block mainClass %}col-sm-12 col-md-12 col-lg-12 col-xl-12{% endblock %}
{% block main %}
<h1 class="title-section">Warenkorb ({{totalItems}} items)</h1>
<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <!--<table class="table table-sm shop-table">
      <thead>
        <tr class="table-secondary">
          <th class="text-center">Artikel</th>
          <th class="quantity-article">Menge</th>
          <th class="price-article">Preis</th>
          <th class="total-article">Gesamtpreis</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          {% set quantity = random(9) %}
          {% set totalArticle = quantity * article.price %}
          {% set subTotal = subTotal + totalArticle %}
          {% set totalItems = totalItems + 1 %}

        <tr class="item-article">
          <td>
            <a href="./product" class="article">
              <span class="image-article">
                <img src="{{article.img}}">
              </span>
              <div class="details-article">
                <span class="text-label name-article">{{article.name}}</span>
                <span class="text-label number-article">{{article.number}}</span>
              </div>
            </a>
          </td>
          <td class="align-middle quantity-article">{{quantity}}</td>
          <td class="align-middle price-article">{{article.price}} €</td>
          <td class="align-middle total-article">{{totalArticle}} €</td>
          <td class="align-middle text-center">
            <a href="./product">
              <span class="dripicons-trash icon"></span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>-->

    {% for article in articles %}
      {% set quantity = random(9) + 1 %}
      {% set totalArticle = quantity * article.price %}
      {% set subTotal = subTotal + totalArticle %}
      {% set totalItems = totalItems + quantity %}
    <div class="card cart-item">

      <div class="card-body core-row">
        <a class="image-container">
          <img class="img-fluid" src="{{article.img}}"><!--style="height:75px"-->
        </a>
        <div class="details-container">
          <div class="category-name text-muted">Category Name</div>
          <div class="article-name">{{article.name}}</div>
          <div class="text-label number-article d-block">{{article.number}}</div>
          <div class="price-row">{{article.price}} €</div>
        </div>
      </div>

      <div class="options-wrapper">
        <div class="quantity-changer">Quantity {{quantity}}</div>
        <div class="text-muted">
          <span class="">Move to Wish List</span>
          <span class="product-remove">Remove</span>
        </div>
      </div>

    </div>
    {% endfor %}

  </div>

  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">

    <div class="card cart-summary">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-block mb-1">
            <span class="summary-title text-muted"><strong>Order Summary</strong></span>
          </div>
          <div class="d-block">
            <div class="d-inline-block">
              <span>Zwischensumme Netto</span>
            </div>
            <div class="d-inline-block float-right">
              <span>{{subTotal}} €</span>
            </div>

          </div>
          <div class="d-inline-block">
            <span>Mehrwertsteuer</span>
          </div>
          <div class="d-inline-block float-right">
              <span>0.00 €</span>
            </div>
        </li>
        <li class="list-group-item">
          <div class="d-inline-block">
            <span>
              <strong>Gesamt Brutto</strong>
            </span>
          </div>
          <div class="d-inline-block float-right">
            <span><strong>{{subTotal}} €</strong></span>
          </div>
        </li>
      </ul>

      <div class="card-body">

        <div class="input-group mb-2 cupon-code">
          <input type="text" class="form-control form-control-sm" placeholder="Coupon/Promo Code" aria-label="Coupon/Promo Code">
          <span class="input-group-btn">
            <button class="btn btn-light btn-sm w-border" type="button">Apply</button>
          </span>
        </div>

        <a href="./payment" class="btn btn-secondary btn-block">
          <span class="dripicons-lock icon"></span> Secure Checkout
        </a>

      </div>
    </div>

    <p class="checkout-message text-muted">
      Our checkout is safe and secure. Your personal and payment information is securely
      transmitted via 128-bit encryption. We do not store any payment card information
      on our systems.
    </p>

    <ul class="payment-methods">
      <li class="item-method visa">Visa</li>
      <li class="item-method mastercard">Mastercard</li>
      <li class="item-method cash">Cash</li>
    </ul>
  </div>

</div>
{% endblock %}
