{% extends 'default/index.html.twig' %}

{% block breadcrumb %}

  <li class="breadcrumb-item">
    <a href="./">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Wish List
  </li>

{% endblock %}

{% block aside %}

  <ul class="nav flex-column categories-nav">
    <li class="nav-item">
      <a class="active tittle-tag" href="javascript:void(0)">
        <span class="item-icon"></span>
        Account
      </a>
    </li>
    <li class="nav-item">
      <a href="./profile">
        <span class="item-icon">
          <i class="dripicons-toggles icon"></i>
        </span>
        <span class="text">My Profile</span>
        <span class="float-right indicator">
          <i class="dripicons-chevron-right icon"></i>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a href="./orders">
        <span class="item-icon">
          <i class="dripicons-document icon"></i>
        </span>
        <span class="text">My Orders</span>
        <span class="float-right indicator">
          <i class="dripicons-chevron-right icon"></i>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a href="./wish-list">
        <span class="item-icon">
          <i class="dripicons-heart icon"></i>
        </span>
        <span class="text">Wish List</span>
        <span class="float-right indicator">
          <i class="dripicons-chevron-right icon"></i>
        </span>
      </a>
    </li>
  </ul>

{% endblock %}

{% block main %}
  <h1 class="title-section">Wish List
    <span class="text-muted">(2 Items)</span>
  </h1>

  {% for i in 0..3 %}

  <div class="card cart-item">

    <div class="card-body core-row">
      <a class="image-container">
        <img class="img-fluid" src="https://www.selcobw.com/media/catalog/product/cache/1/small_image/200x/9df78eab33525d08d6e5fb8d27136e95/2/5/253210201_01_11.jpg"><!--style="height:75px"-->
      </a>
      <div class="details-container">
        <div class="category-name text-muted">Category Name</div>
        <div class="article-name">Article Name</div>
        <div class="text-label number-article d-block">00123566</div>
        <div class="price-row">2.75 €</div>
      </div>
    </div>

    <div class="options-wrapper">
      <div class="text-muted">
        <span class="">Move to Cart</span>
        <span class="product-remove">Remove</span>
      </div>
    </div>

  </div>
  {% endfor %}
{% endblock %}
