@font-face {
  font-family: "dripicons-v2";
  src: url("../fonts/dripicons/dripicons-v2.eot");
  src: url("../fonts/dripicons/dripicons-v2.eot?#iefix") format("embedded-opentype"), url("../fonts/dripicons/dripicons-v2.woff") format("woff"), url("../fonts/dripicons/dripicons-v2.ttf") format("truetype"), url("../fonts/dripicons/dripicons-v2.svg#dripicons-v2") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "dripicons-v2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="dripicons-"]:before,
[class*=" dripicons-"]:before {
  font-family: "dripicons-v2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.dripicons-alarm:before {
  content: "\61"; }

.dripicons-align-center:before {
  content: "\62"; }

.dripicons-align-justify:before {
  content: "\63"; }

.dripicons-align-left:before {
  content: "\64"; }

.dripicons-align-right:before {
  content: "\65"; }

.dripicons-anchor:before {
  content: "\66"; }

.dripicons-archive:before {
  content: "\67"; }

.dripicons-arrow-down:before {
  content: "\68"; }

.dripicons-arrow-left:before {
  content: "\69"; }

.dripicons-arrow-right:before {
  content: "\6a"; }

.dripicons-arrow-thin-down:before {
  content: "\6b"; }

.dripicons-arrow-thin-left:before {
  content: "\6c"; }

.dripicons-arrow-thin-right:before {
  content: "\6d"; }

.dripicons-arrow-thin-up:before {
  content: "\6e"; }

.dripicons-arrow-up:before {
  content: "\6f"; }

.dripicons-article:before {
  content: "\70"; }

.dripicons-backspace:before {
  content: "\71"; }

.dripicons-basket:before {
  content: "\72"; }

.dripicons-basketball:before {
  content: "\73"; }

.dripicons-battery-empty:before {
  content: "\74"; }

.dripicons-battery-full:before {
  content: "\75"; }

.dripicons-battery-low:before {
  content: "\76"; }

.dripicons-battery-medium:before {
  content: "\77"; }

.dripicons-bell:before {
  content: "\78"; }

.dripicons-blog:before {
  content: "\79"; }

.dripicons-bluetooth:before {
  content: "\7a"; }

.dripicons-bold:before {
  content: "\41"; }

.dripicons-bookmark:before {
  content: "\42"; }

.dripicons-bookmarks:before {
  content: "\43"; }

.dripicons-box:before {
  content: "\44"; }

.dripicons-briefcase:before {
  content: "\45"; }

.dripicons-brightness-low:before {
  content: "\46"; }

.dripicons-brightness-max:before {
  content: "\47"; }

.dripicons-brightness-medium:before {
  content: "\48"; }

.dripicons-broadcast:before {
  content: "\49"; }

.dripicons-browser:before {
  content: "\4a"; }

.dripicons-browser-upload:before {
  content: "\4b"; }

.dripicons-brush:before {
  content: "\4c"; }

.dripicons-calendar:before {
  content: "\4d"; }

.dripicons-camcorder:before {
  content: "\4e"; }

.dripicons-camera:before {
  content: "\4f"; }

.dripicons-card:before {
  content: "\50"; }

.dripicons-cart:before {
  content: "\51"; }

.dripicons-checklist:before {
  content: "\52"; }

.dripicons-checkmark:before {
  content: "\53"; }

.dripicons-chevron-down:before {
  content: "\54"; }

.dripicons-chevron-left:before {
  content: "\55"; }

.dripicons-chevron-right:before {
  content: "\56"; }

.dripicons-chevron-up:before {
  content: "\57"; }

.dripicons-clipboard:before {
  content: "\58"; }

.dripicons-clock:before {
  content: "\59"; }

.dripicons-clockwise:before {
  content: "\5a"; }

.dripicons-cloud:before {
  content: "\30"; }

.dripicons-cloud-download:before {
  content: "\31"; }

.dripicons-cloud-upload:before {
  content: "\32"; }

.dripicons-code:before {
  content: "\33"; }

.dripicons-contract:before {
  content: "\34"; }

.dripicons-contract-2:before {
  content: "\35"; }

.dripicons-conversation:before {
  content: "\36"; }

.dripicons-copy:before {
  content: "\37"; }

.dripicons-crop:before {
  content: "\38"; }

.dripicons-cross:before {
  content: "\39"; }

.dripicons-crosshair:before {
  content: "\21"; }

.dripicons-cutlery:before {
  content: "\22"; }

.dripicons-device-desktop:before {
  content: "\23"; }

.dripicons-device-mobile:before {
  content: "\24"; }

.dripicons-device-tablet:before {
  content: "\25"; }

.dripicons-direction:before {
  content: "\26"; }

.dripicons-disc:before {
  content: "\27"; }

.dripicons-document:before {
  content: "\28"; }

.dripicons-document-delete:before {
  content: "\29"; }

.dripicons-document-edit:before {
  content: "\2a"; }

.dripicons-document-new:before {
  content: "\2b"; }

.dripicons-document-remove:before {
  content: "\2c"; }

.dripicons-dot:before {
  content: "\2d"; }

.dripicons-dots-2:before {
  content: "\2e"; }

.dripicons-dots-3:before {
  content: "\2f"; }

.dripicons-download:before {
  content: "\3a"; }

.dripicons-duplicate:before {
  content: "\3b"; }

.dripicons-enter:before {
  content: "\3c"; }

.dripicons-exit:before {
  content: "\3d"; }

.dripicons-expand:before {
  content: "\3e"; }

.dripicons-expand-2:before {
  content: "\3f"; }

.dripicons-experiment:before {
  content: "\40"; }

.dripicons-export:before {
  content: "\5b"; }

.dripicons-eye:before {
  content: "\e037";
  opacity: .5; }

.dripicons-eye-slash:before {
  content: "\e037";
  opacity: .75; }

.dripicons-feed:before {
  content: "\5d"; }

.dripicons-flag:before {
  content: "\5e"; }

.dripicons-flashlight:before {
  content: "\5f"; }

.dripicons-folder:before {
  content: "\60"; }

.dripicons-folder-open:before {
  content: "\7b"; }

.dripicons-forward:before {
  content: "\7c"; }

.dripicons-gaming:before {
  content: "\7d"; }

.dripicons-gear:before {
  content: "\7e"; }

.dripicons-graduation:before {
  content: "\5c"; }

.dripicons-graph-bar:before {
  content: "\e000"; }

.dripicons-graph-line:before {
  content: "\e001"; }

.dripicons-graph-pie:before {
  content: "\e002"; }

.dripicons-headset:before {
  content: "\e003"; }

.dripicons-heart:before {
  content: "\e004"; }

.dripicons-help:before {
  content: "\e005"; }

.dripicons-home:before {
  content: "\e006"; }

.dripicons-hourglass:before {
  content: "\e007"; }

.dripicons-inbox:before {
  content: "\e008"; }

.dripicons-information:before {
  content: "\e009"; }

.dripicons-italic:before {
  content: "\e00a"; }

.dripicons-jewel:before {
  content: "\e00b"; }

.dripicons-lifting:before {
  content: "\e00c"; }

.dripicons-lightbulb:before {
  content: "\e00d"; }

.dripicons-link:before {
  content: "\e00e"; }

.dripicons-link-broken:before {
  content: "\e00f"; }

.dripicons-list:before {
  content: "\e010"; }

.dripicons-loading:before {
  content: "\e011"; }

.dripicons-location:before {
  content: "\e012"; }

.dripicons-lock:before {
  content: "\e013"; }

.dripicons-lock-open:before {
  content: "\e014"; }

.dripicons-mail:before {
  content: "\e015"; }

.dripicons-map:before {
  content: "\e016"; }

.dripicons-media-loop:before {
  content: "\e017"; }

.dripicons-media-next:before {
  content: "\e018"; }

.dripicons-media-pause:before {
  content: "\e019"; }

.dripicons-media-play:before {
  content: "\e01a"; }

.dripicons-media-previous:before {
  content: "\e01b"; }

.dripicons-media-record:before {
  content: "\e01c"; }

.dripicons-media-shuffle:before {
  content: "\e01d"; }

.dripicons-media-stop:before {
  content: "\e01e"; }

.dripicons-medical:before {
  content: "\e01f"; }

.dripicons-menu:before {
  content: "\e020"; }

.dripicons-message:before {
  content: "\e021"; }

.dripicons-meter:before {
  content: "\e022"; }

.dripicons-microphone:before {
  content: "\e023"; }

.dripicons-minus:before {
  content: "\e024"; }

.dripicons-monitor:before {
  content: "\e025"; }

.dripicons-move:before {
  content: "\e026"; }

.dripicons-music:before {
  content: "\e027"; }

.dripicons-network-1:before {
  content: "\e028"; }

.dripicons-network-2:before {
  content: "\e029"; }

.dripicons-network-3:before {
  content: "\e02a"; }

.dripicons-network-4:before {
  content: "\e02b"; }

.dripicons-network-5:before {
  content: "\e02c"; }

.dripicons-pamphlet:before {
  content: "\e02d"; }

.dripicons-paperclip:before {
  content: "\e02e"; }

.dripicons-pencil:before {
  content: "\e02f"; }

.dripicons-phone:before {
  content: "\e030"; }

.dripicons-photo:before {
  content: "\e031"; }

.dripicons-photo-group:before {
  content: "\e032"; }

.dripicons-pill:before {
  content: "\e033"; }

.dripicons-pin:before {
  content: "\e034"; }

.dripicons-plus:before {
  content: "\e035"; }

.dripicons-power:before {
  content: "\e036"; }

.dripicons-preview:before {
  content: "\e037"; }

.dripicons-print:before {
  content: "\e038"; }

.dripicons-pulse:before {
  content: "\e039"; }

.dripicons-question:before {
  content: "\e03a"; }

.dripicons-reply:before {
  content: "\e03b"; }

.dripicons-reply-all:before {
  content: "\e03c"; }

.dripicons-return:before {
  content: "\e03d"; }

.dripicons-retweet:before {
  content: "\e03e"; }

.dripicons-rocket:before {
  content: "\e03f"; }

.dripicons-scale:before {
  content: "\e040"; }

.dripicons-search:before {
  content: "\e041"; }

.dripicons-shopping-bag:before {
  content: "\e042"; }

.dripicons-skip:before {
  content: "\e043"; }

.dripicons-stack:before {
  content: "\e044"; }

.dripicons-star:before {
  content: "\e045"; }

.dripicons-stopwatch:before {
  content: "\e046"; }

.dripicons-store:before {
  content: "\e047"; }

.dripicons-suitcase:before {
  content: "\e048"; }

.dripicons-swap:before {
  content: "\e049"; }

.dripicons-tag:before {
  content: "\e04a"; }

.dripicons-tag-delete:before {
  content: "\e04b"; }

.dripicons-tags:before {
  content: "\e04c"; }

.dripicons-thumbs-down:before {
  content: "\e04d"; }

.dripicons-thumbs-up:before {
  content: "\e04e"; }

.dripicons-ticket:before {
  content: "\e04f"; }

.dripicons-time-reverse:before {
  content: "\e050"; }

.dripicons-to-do:before {
  content: "\e051"; }

.dripicons-toggles:before {
  content: "\e052"; }

.dripicons-trash:before {
  content: "\e053"; }

.dripicons-trophy:before {
  content: "\e054"; }

.dripicons-upload:before {
  content: "\e055"; }

.dripicons-user:before {
  content: "\e056"; }

.dripicons-user-group:before {
  content: "\e057"; }

.dripicons-user-id:before {
  content: "\e058"; }

.dripicons-vibrate:before {
  content: "\e059"; }

.dripicons-view-apps:before {
  content: "\e05a"; }

.dripicons-view-list:before {
  content: "\e05b"; }

.dripicons-view-list-large:before {
  content: "\e05c"; }

.dripicons-view-thumb:before {
  content: "\e05d"; }

.dripicons-volume-full:before {
  content: "\e05e"; }

.dripicons-volume-low:before {
  content: "\e05f"; }

.dripicons-volume-medium:before {
  content: "\e060"; }

.dripicons-volume-off:before {
  content: "\e061"; }

.dripicons-wallet:before {
  content: "\e062"; }

.dripicons-warning:before {
  content: "\e063"; }

.dripicons-web:before {
  content: "\e064"; }

.dripicons-weight:before {
  content: "\e065"; }

.dripicons-wifi:before {
  content: "\e066"; }

.dripicons-wrong:before {
  content: "\e067"; }

.dripicons-zoom-in:before {
  content: "\e068"; }

.dripicons-zoom-out:before {
  content: "\e069"; }

body {
  padding-bottom: 3.5rem;
  color: #33373d;
  background-color: #f3f3f3; }

.header_toolbar {
  padding: .35rem 0;
  font-size: .8rem;
  color: #fff;
  background-color: #bd0926; }
  .header_toolbar .nav-item {
    padding: 0 10px; }
    .header_toolbar .nav-item:last-child {
      padding-right: 0; }
  .header_toolbar .link {
    color: #fff; }

.showAccount,
.shopping-cart {
  position: relative; }

.preview-account,
.preview-cart {
  position: absolute;
  right: -2px;
  display: none;
  z-index: 6;
  border: 1px solid transparent;
  border-radius: 4px; }
  .preview-account .wrapper-shadow,
  .preview-cart .wrapper-shadow {
    background-color: #eee;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    border-radius: 4px; }
  .preview-account ul,
  .preview-cart ul {
    padding-left: 0;
    list-style: none;
    border-radius: 4px;
    background-color: #eee; }
    .preview-account ul li,
    .preview-cart ul li {
      padding: 8px;
      text-decoration: none; }
      .preview-account ul li:first-child,
      .preview-cart ul li:first-child {
        border-radius: 4px 4px 0 0; }
      .preview-account ul li:last-child,
      .preview-cart ul li:last-child {
        border-radius: 0 0 4px 4px; }
      .preview-account ul li:hover,
      .preview-cart ul li:hover {
        background-color: #cce5ff; }
      .preview-account ul li a,
      .preview-cart ul li a {
        display: block;
        color: #212529;
        text-decoration: none; }
  .preview-account .dropdown-divider,
  .preview-cart .dropdown-divider {
    margin: 0;
    border-color: #cdcdcd; }

.showAccount:hover .preview-account {
  display: block; }

.showAccount .preview-account {
  width: 160px;
  font-size: .85rem; }
  .showAccount .preview-account .arrow {
    margin-left: 90px; }
  .showAccount .preview-account ul li:hover:first-child {
    background-color: transparent; }
  .showAccount .preview-account .icon {
    top: 4px;
    padding-left: 5px;
    font-size: 1rem; }
  .showAccount .preview-account .text {
    padding-left: 5px; }
  .showAccount .preview-account .text-usermail {
    margin-top: -5px;
    padding-left: 10px; }

.shopping-cart:hover .preview-cart {
  display: block; }

.shopping-cart .product-counter {
  color: initial; }

.shopping-cart .preview-cart {
  width: 250px; }
  .shopping-cart .preview-cart ul li:nth-child(-n+4) {
    display: block; }
  .shopping-cart .preview-cart ul li {
    display: none;
    border-bottom: 1px solid #cdcdcd; }
    .shopping-cart .preview-cart ul li a:hover {
      /*.preview-label-text {
              text-decoration: underline;
            }*/ }
    .shopping-cart .preview-cart ul li a .image {
      display: inline-block;
      border-radius: 4px;
      -webkit-box-shadow: 1px 1px 1px #989898;
              box-shadow: 1px 1px 1px #989898; }
      .shopping-cart .preview-cart ul li a .image img {
        width: 35px;
        height: 35px;
        border-radius: 4px; }
  .shopping-cart .preview-cart .preview-label {
    vertical-align: top;
    display: inline-block;
    width: 192px;
    padding-left: 5px; }
    .shopping-cart .preview-cart .preview-label .title {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .shopping-cart .preview-cart .preview-label .preview-label-text,
    .shopping-cart .preview-cart .preview-label .preview-label-amount {
      display: block;
      font-size: .72rem; }
    .shopping-cart .preview-cart .preview-label .preview-label-amount {
      font-size: .7rem; }
  .shopping-cart .preview-cart .preview-articles {
    padding: 8px;
    border-radius: 4px;
    color: #212529;
    background-color: #eee;
    line-height: normal; }
    .shopping-cart .preview-cart .preview-articles .more-articles {
      text-align: center; }
      .shopping-cart .preview-cart .preview-articles .more-articles > span {
        color: #212529;
        font-weight: bold; }
    .shopping-cart .preview-cart .preview-articles .preview-btn {
      padding: 10px;
      text-align: center; }

.header_login {
  display: none;
  padding: 1.75rem 0;
  background-color: #e7e7e7;
  font-size: .8rem; }
  .header_login label {
    color: #89959B;
    font-weight: bold; }

.col-login {
  border-right: 1px solid #959595; }

.col-register {
  border-left: 1px solid #959595; }

.header_login-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .75rem; }

.register-text {
  margin-bottom: .75rem; }

.modal-login {
  font-size: .9rem; }
  .modal-login.fade.show {
    background-color: rgba(0, 0, 0, 0.85); }
  .modal-login .modal-header {
    padding: 15px 30px; }
  .modal-login .modal-body {
    padding: 45px; }
  .modal-login .login-options {
    margin: .95rem 0; }
    .modal-login .login-options .remember-option,
    .modal-login .login-options .forget-option {
      display: inline-block; }
    .modal-login .login-options .forget-option {
      float: right; }
  .modal-login .no-account {
    margin: .95rem 0;
    font-size: .75rem;
    text-align: center; }

.header_navbar .nav-link {
  color: #33373d; }
  .header_navbar .nav-link:hover {
    color: #212529; }

.header_navbar .nav-item:last-child .nav-link {
  padding-right: 0; }

.header_search {
  padding: .75rem 0;
  background-color: #cdcdcd; }

.search-input {
  position: relative;
  background-color: #fff;
  border-radius: .2rem; }
  .search-input input {
    display: block;
    width: 100%;
    padding: .35rem .5rem;
    font-size: .875rem;
    border: 1px solid transparent;
    border-radius: .2rem; }
    .search-input input:focus {
      outline: 0; }

.results {
  position: absolute;
  overflow-y: auto;
  height: auto;
  max-height: 416px;
  width: 100%;
  display: none;
  z-index: 5;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background-color: #eee;
  border-radius: 0 0 .2rem .2rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35); }
  .results .result-item {
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0; }
    .results .result-item:hover {
      background-color: #cce5ff; }
    .results .result-item:last-child {
      border-bottom: none; }
    .results .result-item a {
      display: block;
      padding: .5rem;
      color: #212529;
      text-decoration: none; }
      .results .result-item a .image {
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        -webkit-box-shadow: 1px 1px 1px #989898;
                box-shadow: 1px 1px 1px #989898; }
        .results .result-item a .image img {
          width: 35px;
          height: 35px;
          border: 1px solid #fff;
          border-radius: 4px; }
      .results .result-item a .preview-label {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px; }
        .results .result-item a .preview-label .preview-label-text {
          display: block;
          font-size: .72rem; }

.header_info {
  padding: .35rem 0;
  font-size: .8rem;
  background-color: #dedede; }
  .header_info .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header_info .item-icon {
    font-size: 1rem; }

.navbar-brand {
  letter-spacing: .09rem;
  font-size: 1.35rem; }

.showLogin-navbar,
.showLogin-navbar:hover,
.showAccount-navbar,
.showAccount-navbar:hover,
.showShoppingCart-navbar,
.showShoppingCart-navbar:hover {
  text-decoration: none; }
  .showLogin-navbar .icon,
  .showLogin-navbar:hover .icon,
  .showAccount-navbar .icon,
  .showAccount-navbar:hover .icon,
  .showShoppingCart-navbar .icon,
  .showShoppingCart-navbar:hover .icon {
    color: #33373d; }

aside {
  padding-right: 20px !important; }

main {
  padding-left: 20px !important; }

.carousel-offers {
  margin-bottom: 1.75rem; }
  .carousel-offers .carousel-item img {
    height: 300px; }

.top-products-nav .nav-item:nth-child(1) .nav-link {
  background-color: #0a71b4; }
  .top-products-nav .nav-item:nth-child(1) .nav-link:hover, .top-products-nav .nav-item:nth-child(1) .nav-link:focus {
    background-color: rgba(10, 113, 180, 0.85); }

.top-products-nav .nav-item:nth-child(2) .nav-link {
  background-color: #97be0d; }
  .top-products-nav .nav-item:nth-child(2) .nav-link.active {
    color: #97be0d; }
  .top-products-nav .nav-item:nth-child(2) .nav-link:hover, .top-products-nav .nav-item:nth-child(2) .nav-link:focus {
    background-color: rgba(151, 190, 13, 0.85); }

.top-products-nav .nav-item:nth-child(3) .nav-link {
  background-color: #f29400; }
  .top-products-nav .nav-item:nth-child(3) .nav-link.active {
    color: #f29400; }
  .top-products-nav .nav-item:nth-child(3) .nav-link:hover, .top-products-nav .nav-item:nth-child(3) .nav-link:focus {
    background-color: rgba(242, 148, 0, 0.85); }

.top-products-nav .nav-item:nth-child(4) .nav-link {
  background-color: #bd0926; }
  .top-products-nav .nav-item:nth-child(4) .nav-link.active {
    color: #bd0926; }
  .top-products-nav .nav-item:nth-child(4) .nav-link:hover, .top-products-nav .nav-item:nth-child(4) .nav-link:focus {
    background-color: rgba(189, 9, 38, 0.85); }

.top-products-nav .nav-link {
  border-color: #e9ecef #e9ecef #ddd;
  font-size: .85rem;
  text-transform: uppercase;
  color: #fff; }
  .top-products-nav .nav-link.active {
    background-color: #fff !important;
    font-weight: bold;
    color: #007bff; }

.top-products-content {
  padding: 1.25rem;
  border: 1px solid #dedede;
  border-top: none;
  border-radius: 0 0 4px 4px; }

.category-card .card-img-top,
.top-product-card .card-img-top {
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  -webkit-transition: 1s;
  transition: 1s; }

.category-card .card-body,
.top-product-card .card-body {
  padding: 1rem .75rem;
  padding-top: 0;
  color: #33373d;
  text-align: center; }

.category-card .card-title,
.top-product-card .card-title {
  margin-bottom: .5rem;
  font-weight: bold;
  font-variant: all-small-caps; }

.category-card {
  margin-bottom: 1rem;
  border: 1px solid transparent;
  background-color: transparent; }
  .category-card a {
    text-decoration: none; }
  .category-card .card-img {
    background-color: #fff; }
  .category-card .card-body {
    padding: 1.25rem; }

.top-product-card {
  margin-bottom: 1rem;
  border: 1px solid transparent; }
  .top-product-card a {
    text-decoration: none; }
    .top-product-card a:hover .card-img-top {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-transition: 1s;
      transition: 1s; }
  .top-product-card .card-price {
    font-size: 1rem; }

.top-product-card:hover .addWishList {
  opacity: 1; }

.addWishList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute !important;
  top: .5rem !important;
  right: .5rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(235, 235, 235, 0.65);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  z-index: 6; }

.addWishList:hover .icon {
  color: #007bff; }

.card-form {
  font-size: .85rem;
  margin-bottom: 1.25rem; }
  .card-form .card-header {
    font-weight: bold;
    padding: .5rem 1.25rem; }
  .card-form .form-group {
    margin-bottom: .5rem; }
  .card-form .check-item {
    margin-bottom: 0; }

.card-form-altern {
  font-size: .85rem; }

.product-tab {
  font-size: .85rem; }
  .product-tab.nav-tabs {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #cdcdcd; }
    .product-tab.nav-tabs .nav-link {
      padding-left: 0;
      color: #33373d; }
      .product-tab.nav-tabs .nav-link.active {
        border-color: transparent;
        border-bottom: 1px solid #007bff;
        background-color: transparent;
        color: #007bff; }
        .product-tab.nav-tabs .nav-link.active:hover {
          border-bottom: 1px solid #007bff;
          color: #007bff; }
      .product-tab.nav-tabs .nav-link:hover {
        border: 1px solid transparent;
        color: #33373d; }

.product-tab-content .product-description {
  margin-bottom: .75rem;
  font-size: .85rem; }

.product-tab-content ul {
  font-size: .85rem;
  padding-left: 1.5rem; }

.wizard-progress-bar {
  overflow: hidden;
  position: relative;
  margin: 1.5rem 0; }

.wizard-progress {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #dedede; }
  .wizard-progress .wizard-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: rgba(40, 167, 69, 0.5); }

.wizard-step {
  position: relative;
  padding: 0;
  border-radius: 0 !important;
  color: #cdcdcd;
  cursor: default; }
  .wizard-step.active, .wizard-step.activated {
    background-color: transparent !important;
    color: rgba(40, 167, 69, 0.75) !important; }
    .wizard-step.active .wizard-step-icon, .wizard-step.activated .wizard-step-icon {
      background-color: rgba(40, 167, 69, 0.95); }
  .wizard-step.disabled {
    color: #cdcdcd;
    cursor: default; }
  .wizard-step .wizard-step-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #dedede;
    border-radius: 50%; }
  .wizard-step .wizard-step-text {
    display: block; }

.wizard-content {
  font-size: .85rem; }

.type-client-img {
  height: 75px; }

.more-questions {
  font-size: 3.5rem; }

.item-icon {
  padding-right: 5px; }

.icon,
.indicator {
  position: relative;
  top: 2px; }

.arrow {
  width: 0;
  height: 0;
  margin-left: 190px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #eee; }

.rotate-x {
  display: block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.breadcrumb {
  margin: 0 0 1rem;
  padding: .75rem 0;
  font-size: .7rem;
  color: #89959B;
  background-color: transparent; }
  .breadcrumb .breadcrumb-item.active {
    font-weight: 600; }
  .breadcrumb a {
    color: #89959B; }

.breadcrumb-item + .breadcrumb-item::before {
  position: relative;
  top: 2px;
  padding-right: .2rem;
  padding-left: .2rem;
  font-family: "dripicons-v2";
  font-weight: normal;
  content: "\56"; }

.categories-nav {
  margin-bottom: 1.75rem;
  font-size: .85rem;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd; }
  .categories-nav .nav-item {
    border-top: 1px solid #cdcdcd; }
    .categories-nav .nav-item a {
      display: block;
      padding: .5rem 0;
      text-decoration: none; }
      .categories-nav .nav-item a:hover .text {
        color: #007bff; }
      .categories-nav .nav-item a .item-icon {
        font-size: 1rem; }
      .categories-nav .nav-item a .indicator {
        color: initial; }
  .categories-nav .tittle-tag {
    font-weight: bold; }
  .categories-nav a {
    color: #33373d; }

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .35rem 0;
  font-size: .8rem;
  color: #fff;
  text-align: center;
  background-color: #959595; }
  .cookie-banner .text-closer {
    padding: 2px 4px;
    font-weight: bold;
    background-color: #4d4d4d;
    cursor: pointer; }

.btn-light.w-border {
  border-color: #dae0e5; }

.title-section {
  margin-bottom: 1.5rem;
  font-size: 1.4rem; }

.inner-addon {
  position: relative; }
  .inner-addon .icon {
    position: absolute;
    top: .575rem;
    cursor: pointer;
    font-size: initial; }
  .inner-addon.sm .icon {
    top: .375rem; }

.left-addon .icon {
  left: .75rem; }

.left-addon .form-control {
  padding-left: 2.25rem; }

.right-addon .icon {
  right: .75rem; }

.right-addon .form-control {
  padding-right: 2.25rem; }

.invalid-feedback {
  font-size: .8rem; }

.modal-vc {
  -webkit-transform: translate(0, -50%) !important;
          transform: translate(0, -50%) !important;
  top: 50%;
  margin: 0 auto; }

.shop-table {
  font-size: .75rem; }

.article {
  display: block;
  color: #212529;
  text-decoration: none; }
  .article:hover, .article:active, .article:focus {
    color: #212529;
    text-decoration: none; }
    .article:hover .name-article, .article:active .name-article, .article:focus .name-article {
      text-decoration: underline; }
  .article .image-article {
    display: inline-block;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px #dedede;
            box-shadow: 1px 1px 1px #dedede; }
    .article .image-article img {
      width: 65px;
      height: 65px;
      border-radius: 4px; }
  .article .details-article {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px; }
  .article .text-label {
    display: block; }

.quantity-article {
  text-align: center; }

.price-article,
.total-article {
  text-align: right; }

.payment-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  .payment-methods .item-method {
    width: 50px;
    height: 30px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url(https://k.nooncdn.com/s/app/noon-web/static/media/sprite@2x.6ae94316.png);
    background-size: 202px 318px; }
    .payment-methods .item-method + .item-method {
      margin-left: 6px; }
    .payment-methods .item-method.visa {
      background-position: -52px -14px; }
    .payment-methods .item-method.mastercard {
      background-position: 0 -14px; }
    .payment-methods .item-method.cash {
      background-position: 0 -46px; }
    .payment-methods .item-method.amex {
      background-position: -104px -14px; }
    .payment-methods .item-method.apple {
      background-position: -104px -46px; }

.cart-summary {
  margin-bottom: .5rem;
  font-size: .85rem; }
  .cart-summary .summary-title {
    text-transform: uppercase; }

.checkout-message {
  font-size: .7rem; }

.cart-item {
  margin-bottom: .75rem;
  font-size: .85rem; }
  .cart-item .core-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .cart-item .image-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16%;
            flex: 0 0 16%;
    margin-right: 2rem; }
  .cart-item .details-container {
    padding-right: 150px; }
  .cart-item .category-name {
    margin-bottom: 5px;
    line-height: 1.3; }
  .cart-item .article-name {
    font-weight: bold; }
  .cart-item .price-row {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: .9rem;
    font-weight: bold; }
  .cart-item .options-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: 1.25rem;
    bottom: 1.25rem; }
  .cart-item .product-remove::before {
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 .75rem; }
  .cart-item .quantity-changer {
    margin-right: 0;
    margin-bottom: .25rem; }

.paginator {
  margin: 1.25rem 0 2rem; }
  .paginator .previous-page .page-link,
  .paginator .next-page .page-link {
    border-color: #868e96;
    background-color: transparent; }
  .paginator .previous-page {
    margin-right: 1rem; }
  .paginator .next-page {
    margin-left: 1rem; }
  .paginator .page-link {
    margin-right: .1rem;
    margin-left: .1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: transparent;
    font-size: .85rem;
    color: #868e96; }
    .paginator .page-link:hover, .paginator .page-link:focus {
      border-color: #868e96;
      background-color: #868e96;
      color: #fff; }

@media (max-width: 991px) {
  body {
    background-color: rgba(244, 67, 54, 0.39); }
  aside {
    padding-right: 15px !important; }
  main {
    padding-left: 15px !important; } }

@media (max-width: 767px) {
  body {
    background-color: rgba(221, 227, 42, 0.39); }
  .container {
    max-width: 100%; }
  .header_navbar .container {
    padding: 0; }
  .breadcrumb-item:first-child,
  .breadcrumb-item:nth-last-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .breadcrumb-item {
    display: none; }
  .cart-item .image-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18%;
            flex: 0 0 18%; }
  .cart-item .details-container {
    padding-right: 0; }
  .cart-item .options-wrapper {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    right: 0;
    bottom: 0;
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125); }
  .cart-item .quantity-changer {
    margin: 0; }
  .cart-summary {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0; }
  .cupon-code {
    display: none; } }

@media (max-width: 575px) {
  body {
    background-color: rgba(42, 227, 150, 0.39); }
  .showLogin-toolbar,
  .header_info {
    display: none; }
  .showLogin-navbar .text,
  .showAccount-navbar .text,
  .showShoppingCart-navbar .text {
    display: none; }
  .arrow {
    margin-left: auto; }
  .vertical-banner {
    display: none; }
  .modal-login .modal-body {
    padding: 45px 30px; }
  .modal-login .login-options .remember-option,
  .modal-login .login-options .forget-option {
    display: block;
    float: none; }
  .no-account .link {
    display: block; }
  .carousel-offers {
    margin-top: 1.75rem; }
    .carousel-offers .carousel-item img {
      height: auto; }
  /*.title-section {
    margin-top: 1.75rem;
  }*/
  .article .image-article img {
    height: 40px;
    width: 40px; }
  .cart-item {
    font-size: .75rem; }
    .cart-item .category-name {
      margin-bottom: 0; }
    .cart-item .image-container {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%; }
    .cart-item .price-row {
      position: relative;
      top: 0;
      right: 0;
      margin-top: .75rem;
      font-size: .85rem; }
  .payment-methods {
    padding-bottom: 14rem; } }
