// Colors
$white:     #fff;
$gray-100:  #f3f3f3;
$gray-200:  #eee;
$gray-300:  #e7e7e7;
$gray-400:  #dedede;
$gray-500:  #cdcdcd;
$gray-600:  #959595;
$gray-700:  #4d4d4d;
$gray-800:  #868e96;
$black:     #212529;
$red:       #bd0926;
$green:     #28a745;
$blue:      #007bff;
$cian:      #cce5ff;
//#f7f7fa

$color-brand-blue:    #0a71b4;
$color-brand-green:   #97be0d;
$color-brand-yellow:  #f29400;
$color-brand-red:     #bd0926;

// Font colors
$font-color:            #33373d;
$breadcrumb-font-color: #89959B;
