@import "variables";
@import "fonts";

body {
  padding-bottom: 3.5rem;
  color: $font-color;
  background-color: $gray-100;
}

.header_toolbar {
  padding: .35rem 0;
  font-size: .8rem;
  color: $white;
  background-color: $red;

  .nav-item {
    padding: 0 10px;
    &:last-child {
      padding-right: 0;
    }
  }

  .link {
    color: $white;
  }

}

.showAccount,
.shopping-cart {
  position: relative;
}

.preview-account,
.preview-cart {
  position: absolute;
  right: -2px;
  display: none;
  z-index: 6;
  border: 1px solid transparent;
  border-radius: 4px;

  .wrapper-shadow {
    background-color: $gray-200;
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
  }

  ul {
    padding-left: 0;
    list-style: none;
    border-radius: 4px;
    background-color: $gray-200;

    li {
      padding: 8px;
      text-decoration: none;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      &:hover {
        background-color: $cian;
      }

      a {
        display: block;
        color: $black;
        text-decoration: none;
      }

    }
  }

  .dropdown-divider {
    margin: 0;
    border-color: $gray-500;
  }

}

.showAccount {

  &:hover {
    .preview-account {
      display: block;
    }
  }

  .preview-account {
    width: 160px;
    //width: auto;
    font-size: .85rem;

    .arrow {
      margin-left: 90px;
    }

    ul {
      li:hover:first-child {
        background-color: transparent;
      }
    }

    .icon {
      top: 4px;
      padding-left: 5px;
      font-size: 1rem;
    }

    .text {
      padding-left: 5px;
    }

    .text-usermail {
      margin-top: -5px;
      padding-left: 10px;
    }

  }

}

.shopping-cart {

  &:hover {
    .preview-cart {
      display: block;
    }
  }

  .product-counter {
    //padding-right: 5px;
    color: initial;
  }

  .preview-cart {
    width: 250px;

    ul {

      // Show just 4 first articles
      li:nth-child(-n+4) {
        display: block;
      }

      li {
        display: none;
        border-bottom: 1px solid $gray-500;

        a {

          &:hover {
            /*.preview-label-text {
              text-decoration: underline;
            }*/
          }

          .image {
            display: inline-block;
            border-radius: 4px;
            box-shadow: 1px 1px 1px #989898;

            img {
              width: 35px;
              height: 35px;
              border-radius: 4px;
            }
          }

        }

      }

    }

    .preview-label {
      vertical-align: top;
      display: inline-block;
      width: 192px;
      padding-left: 5px;

      .title {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .preview-label-text,
      .preview-label-amount {
        display: block;
        font-size: .72rem;
      }

      .preview-label-amount {
        font-size: .7rem;
      }

    }

    .preview-articles {
      padding: 8px;
      border-radius: 4px;
      color: $black;
      background-color: $gray-200;
      line-height: normal;

      .more-articles {
        text-align: center;

        > span {
          color: $black;
          font-weight: bold;
        }

      }

      .preview-btn {
        padding: 10px;
        text-align: center;
      }

    }

  }

}

.header_login {
  display: none;
  padding: 1.75rem 0;
  background-color: $gray-300;
  font-size: .8rem;

  label {
    color: $breadcrumb-font-color;
    font-weight: bold;
  }
}

.col-login {
  border-right: 1px solid $gray-600;
}

.col-register {
  border-left: 1px solid $gray-600;
}

.header_login-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .75rem;
}

.register-text {
  margin-bottom: .75rem;
}

.modal-login {
  font-size: .9rem;

  &.fade.show {
    background-color: rgba($color: #000, $alpha: 0.85)
  }

  .modal-header {
    padding: 15px 30px;
  }

  .modal-body {
    padding: 45px;
  }

  .login-options {
    margin: .95rem 0;

    .remember-option,
    .forget-option {
      display: inline-block;
    }

    .forget-option {
      float: right;
    }
  }

  .no-account {
    margin: .95rem 0;
    font-size: .75rem;
    text-align: center;
  }

}

.header_navbar {
  .nav-link {
    color: $font-color;
    &:hover {
      color: $black;
    }
  }
  .nav-item:last-child {
    .nav-link {
      padding-right: 0;
    }
  }
}

.header_search {
  padding: .75rem 0;
  background-color: $gray-500;
}

.search-input {
  position: relative;
  background-color: $white;
  border-radius: .2rem;

  input {
    display: block;
    width: 100%;
    padding: .35rem .5rem;
    font-size: .875rem;
    border: 1px solid transparent;
    border-radius: .2rem;

    &:focus {
      outline: 0;
    }

  }

}

.results {
  position: absolute;
  overflow-y: auto;
  height: auto;
  max-height: 416px;
  width: 100%;
  display: none;
  z-index: 5;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background-color: $gray-200;
  border-radius: 0 0 .2rem .2rem;
  box-shadow: 0 2px 2px rgba(0,0,0,.35);

  .result-item {
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;

    &:hover {
      background-color: $cian;
    }

    &:last-child{
      border-bottom: none;
    }

    a {
      display: block;
      padding: .5rem;
      color: $black;
      text-decoration: none;

      .image {
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        box-shadow: 1px 1px 1px #989898;

        img {
          width: 35px;
          height: 35px;
          border: 1px solid $white;
          border-radius: 4px;
        }

      }

      .preview-label {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;

        .preview-label-text {
          display: block;
          font-size: .72rem;
        }

      }

    }

  }

}

.header_info {
  padding: .35rem 0;
  font-size: .8rem;
  background-color: $gray-400;

  .nav {
    justify-content: space-between;
  }

  .item-icon {
    font-size: 1rem;
  }

}

.navbar-brand {
  //font-weight: bold;
  letter-spacing: .09rem;
  font-size: 1.35rem;
}

.showLogin-navbar,
.showLogin-navbar:hover,
.showAccount-navbar,
.showAccount-navbar:hover,
.showShoppingCart-navbar,
.showShoppingCart-navbar:hover {
  text-decoration: none;
  .icon {
    color: $font-color;
  }
}

aside {
  padding-right: 20px !important;
}

main {
  padding-left: 20px !important;
}

.carousel-offers {
  margin-bottom: 1.75rem;

  .carousel-item {
    img {
      height: 300px;
    }
  }

}

.top-products-nav {

  .nav-item:nth-child(1) {
    .nav-link{
      background-color: $color-brand-blue;
      &.active {

      }
      &:hover,
      &:focus {
        background-color: rgba($color: $color-brand-blue, $alpha: .85)
      }
    }
  }
  .nav-item:nth-child(2) {
    .nav-link{
      background-color: $color-brand-green;
      &.active {
        color: $color-brand-green;
      }
      &:hover,
      &:focus {
        background-color: rgba($color: $color-brand-green, $alpha: .85)
      }
    }
  }
  .nav-item:nth-child(3) {
    .nav-link{
      background-color: $color-brand-yellow;
      &.active {
        color: $color-brand-yellow;
      }
      &:hover,
      &:focus {
        background-color: rgba($color: $color-brand-yellow, $alpha: .85)
      }
    }
  }
  .nav-item:nth-child(4) {
    .nav-link{
      background-color: $color-brand-red;
      &.active {
        color: $color-brand-red;
      }
      &:hover,
      &:focus {
        background-color: rgba($color: $color-brand-red, $alpha: .85)
      }
    }
  }

  .nav-link {
    border-color: #e9ecef #e9ecef #ddd;
    font-size: .85rem;
    text-transform: uppercase;
    color: $white;

    &.active {
      background-color: $white !important;
      font-weight: bold;
      color: #007bff;
    }
  }

}

.top-products-content {
  padding: 1.25rem;
  border: 1px solid $gray-400;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.category-card,
.top-product-card {

  .card-img-top {
    transform: scale(.65);
    transition: 1s;
  }

  .card-body {
    padding: 1rem .75rem;
    padding-top: 0;
    color: $font-color;
    text-align: center;
  }

  .card-title {
    margin-bottom: .5rem;
    font-weight: bold;
    font-variant: all-small-caps;
  }

}

.category-card {
  margin-bottom: 1rem;
  border: 1px solid transparent;
  background-color: transparent;

  a {
    text-decoration: none;
  }

  .card-img {
    background-color: $white;
  }

  .card-body {
    padding: 1.25rem;
  }

}

.top-product-card {
  margin-bottom: 1rem;
  border: 1px solid transparent;
  //background-color: transparent;

  a {
    text-decoration: none;
    &:hover {
      .card-img-top {
        transform: scale(.7);
        transition: 1s;
      }
    }
  }

  .card-price {
    font-size: 1rem;
  }
}

.top-product-card:hover .addWishList {
  opacity: 1;
}

.addWishList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  top: .5rem !important;
  right: .5rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: hsla(0, 0%, 92%, 0.65);
  cursor: pointer;
  opacity: 0;
  transition: all .3s;
  transition-property: opacity;
  z-index: 6;
}

.addWishList:hover .icon {
  color: #007bff;
}

.card-form {
  font-size: .85rem;
  margin-bottom: 1.25rem;

  .card-header {
    font-weight: bold;
    padding: .5rem 1.25rem;
  }

  .form-group {
    margin-bottom: .5rem;
  }

  .check-item {
    margin-bottom: 0;
  }
}

.card-form-altern {
  font-size: .85rem;
}

.product-tab {
  font-size: .85rem;

  &.nav-tabs {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $gray-500;

    .nav-link {
      padding-left: 0;
      //border: none;
      color: $font-color;

      &.active{
        border-color: transparent;
        border-bottom: 1px solid $blue;
        background-color: transparent;
        color: $blue;
        &:hover {
          border-bottom: 1px solid $blue;
          color: $blue;
        }
      }

      &:hover {
        border: 1px solid transparent;
        color: $font-color;
      }
    }

  }

}

.product-tab-content {
  .product-description {
    margin-bottom: .75rem;
    font-size: .85rem;
  }
  ul {
    font-size: .85rem;
    padding-left: 1.5rem;
  }
}

.wizard-progress-bar {
  overflow: hidden;
  position: relative;
  margin: 1.5rem 0;
}

.wizard-progress {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background: $gray-400;

  .wizard-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: rgba($color: $green, $alpha: .5);
  }

}

.wizard-step {
  position: relative;
  padding: 0;
  border-radius: 0 !important;
  color: $gray-500;
  cursor: default;

  &.active,
  &.activated {
    background-color: transparent !important;
    color: rgba($color: $green, $alpha: .75) !important;

    .wizard-step-icon {
      background-color: rgba($color: $green, $alpha: .95);
    }
  }

  &.disabled {
    color: $gray-500;
    cursor: default;
  }

  .wizard-step-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: $gray-400;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .wizard-step-text {
    display: block;
  }

}

.wizard-content {
  font-size: .85rem;
}

.type-client-img {
  height: 75px;
}

.more-questions {
  font-size: 3.5rem;
}

// Separation between icons and text
.item-icon {
  padding-right: 5px;
}

// Align all icons with text
.icon,
.indicator {
  position: relative;
  top: 2px;
}

.arrow {
  width: 0;
  height: 0;
  margin-left: 190px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid $gray-200;
}

// Rotate
.rotate-x {
  display: block;
  transform: rotateY(180deg);
}

.breadcrumb {
  margin: 0 0 1rem;;
  padding: .75rem 0;
  font-size: .7rem;
  color: $breadcrumb-font-color;
  background-color: transparent;

  .breadcrumb-item.active {
    font-weight: 600;
  }

  a {
    color: $breadcrumb-font-color;
  }

}

.breadcrumb-item+.breadcrumb-item::before {
  position: relative;
  top: 2px;
  padding-right: .2rem;
  padding-left: .2rem;
  font-family: "dripicons-v2";
  font-weight: normal;
  content: "\56";
}

.categories-nav {
  margin-bottom: 1.75rem;
  font-size: .85rem;
  border-top: 1px solid $gray-500;
  border-bottom: 1px solid $gray-500;

  .nav-item {
    border-top: 1px solid $gray-500;

    a {
      display: block;
      padding: .5rem 0;
      text-decoration: none;

      &:hover {
        .text {
          color: $blue;
        }
      }

      .item-icon {
        font-size: 1rem;
      }

      .indicator {
        color: initial;
      }

    }

  }

  .tittle-tag {
    font-weight: bold;
  }

  a {
    color: $font-color;
  }

}

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .35rem 0;
  font-size: .8rem;
  color: $white;
  text-align: center;
  background-color: $gray-600;

  .text-closer {
    padding: 2px 4px;
    font-weight: bold;
    background-color: $gray-700;
    cursor: pointer;
  }

}

// Miscelaneus
.btn-light {
  &.w-border {
    border-color: #dae0e5;
  }
}

.title-section {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.inner-addon {
  position: relative;

  .icon {
    position: absolute;
    top: .575rem;
    cursor: pointer;
    font-size: initial;
  }

  &.sm {
    .icon {
      top: .375rem;
    }
  }

}

.left-addon {
  .icon {
    left: .75rem;
  }
  .form-control {
    padding-left: 2.25rem;
  }
}

.right-addon {
  .icon {
    right: .75rem;
  }
  .form-control {
    padding-right: 2.25rem;
  }
}

.invalid-feedback {
  font-size: .8rem;
}

// Center modals vertically
.modal-vc {
  transform: translate(0, -50%) !important;
  top: 50%;
  margin: 0 auto;
}

// Shop
.shop-table {
  font-size: .75rem;
}

.article {
  display: block;
  color: $black;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $black;
    text-decoration: none;

    .name-article {
      text-decoration: underline;
    }

  }

  .image-article {
    display: inline-block;
    border-radius: 4px;
    box-shadow: 1px 1px 1px $gray-400;

    img {
      width: 65px;
      height: 65px;
      border-radius: 4px;
    }
  }

  .details-article {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
  }

  .text-label {
    display: block;
  }
}

.quantity-article {
  text-align: center;
}

.price-article,
.total-article {
  text-align: right;
}

.payment-methods {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  .item-method {
    width: 50px;
    height: 30px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url(https://k.nooncdn.com/s/app/noon-web/static/media/sprite@2x.6ae94316.png);
    background-size: 202px 318px;

    &+.item-method {
      margin-left: 6px;
    }

    &.visa {
      background-position: -52px -14px;
    }

    &.mastercard {
      background-position: 0 -14px;
    }

    &.cash {
      background-position: 0 -46px;
    }

    &.amex {
      background-position: -104px -14px;
    }

    &.apple {
      background-position: -104px -46px;
    }
  }
}

.cart-summary {
  margin-bottom: .5rem;
  font-size: .85rem;

  .summary-title {
    text-transform: uppercase;
  }
}

.checkout-message {
  font-size: .7rem;
}


.cart-item {
  margin-bottom: .75rem;
  font-size: .85rem;

  .core-row {
    display: flex;
  }

  .image-container {
    flex: 0 0 16%;
    margin-right: 2rem;
  }

  .details-container {
    padding-right: 150px;
  }

  .category-name {
    margin-bottom: 5px;
    line-height: 1.3;
  }

  .article-name {
    font-weight: bold;
  }

  .price-row {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: .9rem;
    font-weight: bold;
  }

  .options-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 1.25rem;
    bottom: 1.25rem;
  }

  .product-remove::before {
    content: "";
    border-left: 1px solid rgba(0,0,0,.125);
    margin: 0 .75rem;
  }

  .quantity-changer {
    margin-right: 0;
    margin-bottom: .25rem;
  }
}


// Pagination
.paginator {
  margin: 1.25rem 0 2rem;

  .previous-page,
  .next-page {
    .page-link {
      border-color: $gray-800;
      background-color: transparent;
    }
  }

  .previous-page {
    margin-right: 1rem;
  }

  .next-page {
    margin-left: 1rem;
  }

  .page-link {
    margin-right: .1rem;
    margin-left: .1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: transparent;
    font-size: .85rem;
    color: $gray-800;
    //color: $font-color;

    &:hover,
    &:focus {
      border-color: $gray-800;
      background-color: $gray-800;
      color: $white;
    }

  }

}

@media (max-width: 991px) {
  body {
    background-color: rgba(244,67,54,0.39);
  }

  aside {
    padding-right: 15px !important;
  }

  main {
    padding-left: 15px !important;
  }
}

@media (max-width: 767px) {
  body {
    background-color: rgba(221,227,42,0.39);
  }

  .container {
    max-width: 100%;
  }

  .header_navbar .container {
    padding: 0;
  }

  // Show just first and penultimate element
  .breadcrumb-item:first-child,
  .breadcrumb-item:nth-last-child(2) {
    display: flex;
  }

  .breadcrumb-item {
    display: none;
  }

  .cart-item {

    .image-container {
      flex: 0 0 18%;
    }

    .details-container {
      padding-right: 0;
    }

    .options-wrapper {
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      right: 0;
      bottom: 0;
      padding: .75rem 1.25rem;
      border-top: 1px solid rgba(0,0,0,.125);
    }

    .quantity-changer {
      margin: 0;
    }

  }

  .cart-summary {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
  }

  .cupon-code {
    display: none;
  }

}

@media (max-width: 575px) {
  body {
    background-color: rgba(42,227,150,0.39);
  }

  .showLogin-toolbar,
  .header_info {
    display: none;
  }

  .showLogin-navbar,
  .showAccount-navbar,
  .showShoppingCart-navbar {
    .text {
      display: none;
    }
  }

  .arrow {
    margin-left: auto;
  }

  .vertical-banner {
    display: none;
  }

  .modal-login{
    //padding-left: 15px;

    .modal-body {
      padding: 45px 30px;
    }

    .login-options {
      .remember-option,
      .forget-option {
        display: block;
        float: none;
      }
    }

  }

  .no-account {
    .link {
      display: block;
    }
  }

  .carousel-offers {
    margin-top: 1.75rem;

    .carousel-item {
      img {
        height: auto;
      }
    }

  }

  /*.title-section {
    margin-top: 1.75rem;
  }*/

  .article {
    .image-article {
      img {
        height: 40px;
        width: 40px;
      }
    }
  }

  .cart-item {
    font-size: .75rem;

    .category-name {
      margin-bottom: 0;
    }

    .image-container {
      flex: 0 0 20%;
    }

    .price-row {
      position: relative;
      top: 0;
      right: 0;
      margin-top: .75rem;
      font-size: .85rem;
    }

  }

  .payment-methods {
    padding-bottom: 14rem;
  }

}
